.punchline {
  width: 75%;
  text-align: center;
  border-radius: 20px;
  border: solid;
  border-color: red;
  animation: appear 1.5s 1;
}

@keyframes appear {
  from {
    font-size: 0%;
    width: 0%;
  }
  /*25% {
    font-size: 25%;
    width: 10%;
    transform: rotate(90deg);
  }
  50% {
    font-size: 50%;
    width: 33%;
    transform: rotate(180deg);
  }
  75% {
    font-size: 75%;
    width: 50%;
    transform: rotate(270deg);
  } */
  to {
    font-size: 100%;
    width: 75%;
    transform: rotate(360deg);
  }
}
